<div class="event_container col-lg-6">
    <div class="event_item event_sub_container">
        <div class="event_item_img"><img class="img-fluid" src="{{ img_src }}" alt=""></div>
        <div class="event_item_content">
            <a href="#" ><h4>{{ title }}</h4></a>
            <a href="index.php" class="cal"><i class="fa fa-calendar" aria-hidden="true"></i> {{start_date}} <span>to</span> {{end_date}} <span>(remind me)</span></a>
            <p>{{ short_description }}</p>
            <a class="more_btn" href="#">Learn More</a>
        </div>
    </div>
</div>