<div class="latest_event_container col-lg-4 col-md-6">
    <div class="event_item">
        <div class="event_item_img"><img class="img-fluid" src="{{ img_src }}" alt=""></div>
        <div class="event_item_content">
            <a href="#" ><h4>{{ title }}</h4></a>
            <a href="#" class="cal"><i class="fa fa-calendar" aria-hidden="true"></i> {{start_date}} <span>to</span> {{end_date}}</a>
            <p>{{ short_description }}</p>
        </div>
    </div>
</div>